$base_color: #2C2A3E;
$color_red: #FF565C;
$color_dark_blue: #0E0840;
$color_indigo: #291D89;
$color_medium_blue: #5067EB;
$color_light_blue: #F0F4FF;
$color_black: #000000;
$bg_color: rgba(246,245,245,0.76);
$color_white: #fff;
$font_weight_700: 700;
$font_weight_400: 400;