
.control input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.control svg {
  margin-right: 6px;
  border-radius: 50%;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
}
label.control {
  margin-bottom: 0;
}
label.control input {
  padding: 0;
  margin: 0;
  border: none!important;
}

.control__content {
  border-radius: 6px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 39px;
  margin: -10px 10px 20px 0;
  background: #F2F6FE;
  color: #60698B;
}

.control input:checked ~ .control__content {   
 background: #3246D3;
 color: #FFFFFF;
 margin-top: 10px;
}

.integation_dropdown.filled_dropdown .dropdown-menu.show input[type=checkbox]{
  visibility: visible!important;
  left: 0!important;
  margin-right: 10px;
  position: relative!important;
}

.new {
  padding: 50px;
}

.checkbox_custom {
  display: block;
  margin-bottom: 0;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}

.checkbox_custom input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox_custom label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}
table.dataTable td.select-checkbox:before, 
table.dataTable td.select-checkbox:after, 
table.dataTable th.select-checkbox:before, 
table.dataTable th.select-checkbox:after{
  position: relative!important;
  margin-top: 0!important;
  margin-left: 0!important;
  left: 0!important;
  top: 0!important;
  border-radius: 2px!important;
}

input[type=checkbox],
table.dataTable td.select-checkbox:before,
table.dataTable th.select-checkbox:before,
.checkbox_custom label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #D5D5D5!important;
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0;
  border-radius: 2px;
}

table.dataTable tr th.select-checkbox.selected::after{
  content: ''!important;
  display: block;
  position: absolute!important;
  top: 6px!important;
  left: 13px!important;
  width: 6px!important;
  height: 12px!important;
  border: solid #fff!important;
  border-width: 0 2px 2px 0!important;
  transform: rotate(45deg);
  text-shadow: none!important;
  border-radius: 0!important;
}

table.dataTable tr.selected td.select-checkbox:after, 
table.dataTable tr.selected th.select-checkbox:after{
  content: ''!important;
  display: block;
  position: absolute!important;
  top: 23px!important;
  left: 13px!important;
  width: 6px!important;
  height: 12px!important;
  border: solid #fff!important;
  border-width: 0 2px 2px 0!important;
  transform: rotate(45deg);
  text-shadow: none!important;
  border-radius: 0!important;
}

.bg_white.p_35.p_b_15.border_20p input[type='checkbox']:checked{
  display: inline-block;
}
input[type='checkbox']:checked{
  content: 'url(../images/ticket.png)';
  background-image: url('../images/ticket.png');
  display: block;
  background-color: #3246D3!important;
  border-color:  #3246D3!important;
  background-repeat: no-repeat;
  background-position: center center;
  /*  position: absolute;
  top: 2.5px;
  left: 6.3px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);*/
}

input[type='checkbox']:indeterminate {
  content: 'url(../images/intermediate.png)';
  background-image: url('../images/intermediate.png');
  display: block;
  background-color: #3246D3!important;
  border-color:  #3246D3!important;
  background-repeat: no-repeat;
  background-position: center center;
}
.checkbox_custom input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2.5px;
  left: 6.3px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

table.dataTable th.select-checkbox.selected:before,
table.dataTable .selected td.select-checkbox:before, 
table.dataTable .selected th.select-checkbox:before{
  background: #3246D3!important;
  border-color:  #3246D3!important;
}

.checkbox_custom input:checked + label:before{
  background: #3246D3;
  border-color: transparent;
}

@media (min-width: 1601px){
  table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after{
    top: 24px!important;
  }
}