.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin-right: 5px;
  /*height: 34px;*/
}
.user_manage .switch{
  width: 40px;
}

.user_manage .slider:before{
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
}
.user_manage input:checked + .slider:before{
  left: -10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2563DC !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: #FFFFFF;
  left: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 1601px){
  .slider:before {
    height: 30px;
    width: 30px;
  }
  .user_manage .switch {
    width: 45px;
  }
  .user_manage input:checked + .slider:before {
    left: -5px;
    bottom: 5px;
  }

  .user_manage .slider:before {
    left: 5px;
    bottom: 5px;
  }
  .switch {
    width: 60px;
    height: 30px;
  }
}