<!-- Select Decoration Type -->
<div class="indentSec p-t-10" ng-hide="isAssignDesignShapePrint">
    <div class="d-a-type">
        <xe-translate text-value="Select decoration area">
        </xe-translate>
        <i class="fa fa-info-circle info-module-icon" ng-click="showProductFaqDetails(3)"></i>
    </div>
    <div>
        <button type="button" class="btn btn-default text-ellipsis text-left custom-icon dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #f8f8f8;">
            <b>{{ selectedMaskName }}</b> <br> <span ng-if="actualWidth && actualHeight">({{actualWidth}} *
                {{actualHeight}})
                {{productUnit}}</span>
        </button>

        <ul class="dropdown-menu full-width shape_print_dropdown" role="menu" ng-class="{'button-scroll':allCustomMaskData.length> 4}" style="margin-left: 30px;
                                width: calc(100% - 30px);">
            <li ng-repeat="mask in allCustomMaskData" ng-click="selectMaskSize(mask, $index)">
                <a href="">
                    <img src="{{mask.url}}"> {{ mask.name }}
                    ({{mask.maskwidth}} {{productDimenssionUnit }} x
                    {{mask.maskheight}} {{productDimenssionUnit }})
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Select Decoration Area -->
<div class="indentSec p-t-10" ng-show="isAssignDesignShapePrint">
    <div class="d-a-type">
        <xe-translate text-value="Select decoration area">
        </xe-translate>
    </div>
    <div>
        <button type="button" class="btn btn-default text-ellipsis text-left custom-icon dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #f8f8f8;">
            <b>{{ selectedMaskName }}</b> <br> <span ng-if="actualWidth && actualHeight">({{actualWidth}} *
                {{actualHeight}})
                {{productUnit}}</span>
        </button>

        <ul class="dropdown-menu full-width shape_print_dropdown" role="menu" ng-class="{'button-scroll':allCustomMaskData.length> 4}" style="margin-left: 30px;
                                width: calc(100% - 30px);">
            <li ng-repeat="mask in allCustomMaskData" ng-click="selectMaskSize(mask,$index, true)">
                <a href="">
                    <img src="{{mask.url}}"> {{ mask.name }}
                    ({{mask.maskwidth}} {{productDimenssionUnit }} x
                    {{mask.maskheight}} {{productDimenssionUnit }})
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Create Decoration Area -->
<div class="indentSec noAfter p-t-10 p-b-10" ng-disabled="printAreaType.isAssociateShape">
    <div class="dFlex alignCenter justify-left">
        <div class="addLink" ng-click="openCustomMaskSetting()">
            <i class="fa fa-plus"></i>
            <xe-translate text-value="Create custom mask">
            </xe-translate>
        </div>
    </div>
</div>
<!-- Enable custom decoration area -->
<div class="indentSec customAfter" ng-class="{'height-twenty': !(boundary.name == 'mask' && ProductIdType == 'configurable' && productSideWiseSizevariations.length >1)}">
    <div class="dFlex alignCenter justify-left">
        <div class="checkbox check-info">
            <input type="checkbox" id="customBoundry" ng-model="variable.isShapePrint" value="1"
                ng-disabled="printAreaType.isAssociateShape" ng-change="variableShapeBoundary(variable.isShapePrint)" />
            <label class="bold" for="customBoundry">
                <xe-translate text-value="Enable custom decoration area">
                </xe-translate>
            </label>
        </div>
    </div>
    <ng-include src="'modules/product/views/partials/variable_mask_setting.html'" ng-if="variable.isShapePrint">
    </ng-include>
</div>
<!-- Associate design area based on their size variants -->
<div class="indentSec customAfter" ng-class="{'height-twenty': (boundary.name == 'mask' && ProductIdType == 'configurable' && productSideWiseSizevariations.length >1)}">
    <div class="dFlex alignCenter justify-left">
        <div class="checkbox check-info"
            ng-show="(boundary.name == 'mask') && (ProductIdType == 'configurable') && productSideWiseSizevariations.length >1">
            <input type="checkbox" id="checkedArea1" ng-model="printAreaType.isAssociateShape"
                ng-change="assignDesignShapePrint(printAreaType.isAssociateShape,$index)" ng-disabled="isHeightWidth" />
            <label class="bold" for="checkedArea1">
                <xe-translate text-value="Associate Design Area"></xe-translate>
            </label>
        </div>
    </div>
    <div class="xe-product-setting" ng-show="isAssignDesignShapePrint && !isHeightWidth">
        <div class="product-wrap-height text-center" ng-show="!isSizeLoaded">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg"
                alt="Progress" />
            <span class="loader-label">
                <xe-translate text-value="Loading">
                </xe-translate>
                ...
            </span>
        </div>
        <div class="setting-view" ng-show="shapeAssociatePrint.length > 0">
            <div class="row" ng-repeat="(pIndex, productSize) in productSideWiseSizevariations" style="display:flex;align-items:center;">
                <div class="col-sm-2 col-padd">
                    <div class="form-group">
                        <div class="btn-group pull-left full-width">
                            {{productSize.xe_size }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-padd">
                    <div class="clearfix m-b-10">
                        <div class="form-group mb-0">
                            <div class="btn-group pull-left full-width assoc-size-dropdown">
                                <button type="button" class="btn btn-default text-ellipsis text-left"
                                    data-toggle="dropdown">

                                    {{ shapeAssociatePrint[sideIndex][pIndex].name }}
                                    ({{shapeAssociatePrint[sideIndex][pIndex].width}} {{productDimenssionUnit }} x
                                    {{shapeAssociatePrint[sideIndex][pIndex].height}} {{productDimenssionUnit }})
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle btn-group-caret"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret">
                                    </span>
                                    <span class="sr-only">
                                        Toggle Dropdown
                                    </span>
                                </button>
                                <ul class="dropdown-menu full-width shape_print_dropdown" role="menu"
                                    ng-class="{'button-scroll':printSizeList.length> 4}">
                                    <li ng-repeat="customMaskData in allCustomMaskData"
                                        ng-click="setAssociatePrintSize(pIndex,customMaskData,productSize)">
                                        <a href="">
                                            <img src="{{customMaskData.url}}"> {{ customMaskData.name }}
                                            ({{customMaskData.maskwidth}} {{productDimenssionUnit }} x
                                            {{customMaskData.maskheight}} {{productDimenssionUnit }})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'modules/product/doc/ps03.html'">
</ng-include>