<div class="modal fade stick-up" id="imageQuoteModal" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close custom-modal-close" data-dismiss="modal" aria-hidden="true" style = "top: 9px; right: 12px;">
                    <i class="pg-close fs-14"></i>
                </button>        
            </div>
            <div class="modal-body" id="imageQuoteModal">
                <div  class = "m-t-10 image-view q-r-img-model-img">
                    <i class="fa fa-angle-left fs-14 q-r-img-model-nav-left" ng-click="onNavLeftClicked()" ng-hide="currentImgIndex == 0"></i>
                        <img class="img-responsive m-auto" src="{{ imageViewer }}">
                    <i class="fa fa-angle-right fs-14 q-r-img-model-nav-right" ng-click="onNavRightClicked()" ng-hide="currentImgIndex == allThumbImages.length - 1"></i>
                </div>
            </div>
        </div>
    </div>
</div>

