<div class="modal fade slide-up" id="warningQuotesPriceingModal" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>Quote Pricing</h3>
                    <p class="font-normal text-lg m-t-10 text-center">
                      <xe-translate text-value="NO QUOTE PRICE SUBMITED"></xe-translate>
                    </p>
                    <div class="clearfix p-b-20">
                        <button class="btn btn-success btn-cons btn-sm" ng-click="changeQuoteDetailsTab('quotePricing')" data-dismiss="modal"  type="button">
                            <xe-translate text-value="ok">
                            </xe-translate>
                        </button>
                        <button class="btn btn-danger btn-cons btn-sm" data-dismiss="modal" type="button">
                            <xe-translate text-value="Cancel">
                            </xe-translate>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>