<div class="modal fade reject_popup" id="rejectQuoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" >
		   <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"> {{quoteModalLabel}}</h4>
		   </div>
		   <div class="modal-body"  id="rejectQuoteModal">
			   	<form>
					<div class="form-group">
						<label for="input1" class="control-label">Reason For Rejection</label>
						<textarea class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="rejectQuote.notes" rows="3" required=""></textarea>
					</div>
				  
					 <div class="modal-footer">
						<p style="font-size: 89%;letter-spacing: normal;color: #f55753!important;" ng-show="isErrMsg">
	                    	{{ errorMessage }} 
	                	</p>
	                	<!-- <button type="reset" value="Reset" class="btn btn-info">Reset</button> -->
	                	<button type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
						<button type="button" class="btn btn-primary" ng-click = "rejectQuoteDetails()" ng-disabled = "!rejectQuote.notes" data-dismiss="modal">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>	